.work-log {
  padding: 20px;
  box-sizing: border-box;
  // cursor: not-allowed;
  .wrap-log {
    width: 100%;
    height: 150px;
    position: relative;
    border: 2px #ccc solid;

    .curriculum-title {
      width: 20%;
      height: 100%;
      text-align: center;
      border-right: 2px #ccc solid;
      float: left;
      //background-color: #84af9b;
      //color: #fff;

      span {
        line-height: 150px;
      }
    }

    .log-content {
      padding: 15px;
      box-sizing: border-box;
      float: right;
      width: 80%;
      height: 100%;
      padding-left: 10px;
      box-sizing: border-box;
      //background-color: #aedd81;
    }
  }

  .wrap-preparation {
    width: 100%;
    height: 900px;
    position: relative;
    border: 2px #ccc solid;
    border-top: none;

    .preparation-title {
      width: 20%;
      height: 100%;
      text-align: center;
      float: left;
      //background-color: #84af9b;
      //color: #fff;
      position: relative;
      bottom: 0;
      top: 0;
      border-right: 2px #ccc solid;

      span {
        line-height: 900px;
      }
    }

    .preparation-list {
      float: right;
      width: 80%;
      height: 100%;
      padding: 10px;
      box-sizing: border-box;
      //background-color: #aedd81;

      .wrap-history {
        width: 100%;

        .history-log-content {
          float: right;
          width: 100%;
          height: 100%;

          .el-upload-dragger {
            width: 100%;
            height: 100px;
          }
        }
      }
    }
  }

  .kh-wrap-preparation {
    width: 100%;
    height: 300px;
    position: relative;
    border: 2px #ccc solid;
    border-top: none;

    .preparation-title {
      width: 20%;
      height: 100%;
      text-align: center;
      float: left;
      //background-color: #84af9b;
      //color: #fff;
      position: relative;
      bottom: 0;
      top: 0;
      border-right: 2px #ccc solid;

      span {
        line-height: 300px;
      }
    }

    .preparation-list {
      float: right;
      width: 80%;
      height: 100%;
      padding: 10px;
      box-sizing: border-box;
      //background-color: #aedd81;

      .wrap-history {
        width: 100%;

        .history-log-content {
          float: right;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .in-class {
    width: 100%;
    height: 100%;
    position: relative;
    border: 2px #ccc solid;
    border-top: none;
    position: relative;

    .in-class-title {
      width: 20%;
      height: 100%;
      // text-align: center;
      float: left;
      border-right: 2px #ccc solid;
      position: absolute;
      top: 0;
      bottom: 0;
      //background-color: #84af9b;
      //color: #fff;

      span {
        position: absolute;
        display: inline-block;
        width: 100%;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .in-class-list {
      float: right;
      width: 80%;
      height: 100%;
      padding: 10px;
      box-sizing: border-box;
      //background-color: #aedd81;

      .in-class-content {
        width: 100%;
        height: 100%;

        ul {
          list-style: none;
          padding-left: 20px;
          box-sizing: border-box;

          li {
            width: 100%;
            height: 40px;
            padding-left: 10px;
            box-sizing: border-box;
            margin-bottom: 5px;

            span {
              line-height: 40px;
            }
          }
        }
      }
    }
  }

  .personal-log {
    width: 100%;
    height: 300%;
    position: relative;
    border: 2px #ccc solid;
    border-top: none;
    position: relative;

    .personal-title {
      width: 20%;
      height: 100%;
      text-align: center;
      float: left;
      border-right: 2px #ccc solid;
      position: absolute;
      top: 0;
      bottom: 0;
      //background-color: #84af9b;
      //color: #fff;

      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transform: translateX(-50%);
      }
    }

    .personal-log-list {
      width: 80%;
      height: 100%;
      float: right;
      //background-color: #aedd81;

      .wrap-examination {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;

        .examination-text {
          // float: left;
          // width: 20%;
        }

        .examination-upload {
          padding: 20px;
          box-sizing: border-box;
          //background-color: greenyellow;
          // background-image: linear-gradient( to right, greenyellow , green);
          //background: linear-gradient(to right, #bb313e25);
          .button {
            margin-left: 100px;
          }
        }
      }

      .class-photos {
        width: 100%;
        height: 100%;
        padding-left: 20px;
        box-sizing: border-box;
      }

      .bz {
        margin: 10px;
      }

      .send-out {
        margin: 10px;
      }
    }
  }
}
